@{
    ViewBag.Title = "Category";
}

<div @*class="ui-content"*@ id="category">
    <div id="container">
        <div class="col-xs-6 col-sm-3">
            <a href="@Url.Action("Courses", "Main", new { city = "Bergen" })" data-ajax="false"><img src="~/Content/images/logo-bergen.png" class="category img-responsive" id="bergen" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="@Url.Action("Courses","Main",new{ city = "Oslo" })" data-ajax="false"><img src="~/Content/images/logo-oslo.png" class="category img-responsive" id="oslo" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="@Url.Action("Courses", "Main", new { city = "London" })" data-ajax="false"><img src="~/Content/images/logo-kristiansand.png" class="category img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="@Url.Action("Courses", "Main", new { city = "Trondheim" })" data-ajax="false"><img src="~/Content/images/logo-stockholm.png" class="category img-responsive" /></a>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('.courseBar').addClass('ui-btn-active')
                        .addClass('ui-state-persist');
            $.getJSON('https://freegeoip.net/json/', function (location) {
                //var country = location.country_name;
                var city = location.city;
                switch (city) {
                    case "Bergen":
                        $('#bergen').fadeOut('fast', function () {
                            $('#bergen').attr('src', '/Content/images/logo-bergen-current.png');
                            $('#bergen').fadeIn('slow');
                        })
                        break;
                    case "Oslo":
                        $('#oslo').fadeOut('fast', function () {
                            $('#oslo').attr('src', '/Content/images/logo-oslo-current.png');
                            $('#oslo').fadeIn('slow');
                        })
                        break;
                    default:
                        break;
                }
            })
        });
    </script>
}
