@{
    ViewBag.Title = "Category";
}

<div class="ui-content" id="category">
    <div id="container">
        <div class="col-xs-5 col-sm-3 col-sm-offset-0">
            <a href="@Url.Action("Courses", "Main", new { city = "Bergen" })" @*data-ajax="false"*@ data-transition="flip"><img src="~/Content/images/logo-bergen.png" class="category img-responsive" id="bergen" /></a>
        </div>
        <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
            <a href="@Url.Action("Courses","Main",new{ city = "Oslo" })" @*data-ajax="false"*@ data-transition="flip"><img src="~/Content/images/logo-oslo.png" class="category img-responsive" id="oslo" /></a>
        </div>
        <div class="col-xs-5 col-sm-3 col-sm-offset-0">
            <a href="@Url.Action("Courses", "Main", new { city = "Kristiansand" })" @*data-ajax="false"*@ data-transition="flip"><img src="~/Content/images/logo-kristiansand.png" class="category img-responsive" /></a>
        </div>
        <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
            <a href="@Url.Action("Courses", "Main", new { city = "Stockholm" })" @*data-ajax="false"*@ data-transition="flip"><img src="~/Content/images/logo-stockholm.png" class="category img-responsive" /></a>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('.courseBar').addClass('ui-btn-active')
                        .addClass('ui-state-persist');
            $.getJSON('https://freegeoip.net/json/', function (location) {
                //var city = location.city;
                var country = location.country_name;
                switch (country) {
                    case "Norway":
                        $('#bergen').fadeOut('fast', function () {
                            $('#bergen').attr('src', '/Content/images/logo-bergen-current.png');
                            $('#bergen').fadeIn('slow');
                        })
                        break;
                    case "Oslo":
                        $('#oslo').fadeOut('fast', function () {
                            $('#oslo').attr('src', '/Content/images/logo-oslo-current.png');
                            $('#oslo').fadeIn('slow');
                        })
                        break;
                    default:
                        break;
                }
            })
        });
    </script>
}
