@{
    ViewBag.Title = "Contact";
}

<section data-role="page">
    @RenderPage("../Shared/MainHeader.cshtml")
    <div class="ui-content">

    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Courses","Main")">Courses</a></li>
                <li><a href="@Url.Action("Profile","Main")">Profile</a></li>
                <li><a href="@Url.Action("Contact","Main")" class="ui-state-persist ui-btn-active">Contact</a></li>
            </ul>
        </div>
    </div>
</section>
