@model FocusAppTest2.ServiceReference1.Profile
@{
    ViewBag.Title = "ProfileMenu";
}

<div @*class="ui-content"*@ id="profileMenu">
    <div id="container">
        <div data-role="controlgroup" data-theme="b">
            <a href="@Url.Action("Profile","Main")" class="ui-btn ui-icon-edit ui-btn-icon-left ui-corner-all">Edit Profile</a>
            @if (User.IsInRole("facebookmember"))
            {
                <a href="#" onclick="fb_logout();" class="ui-btn ui-icon-power ui-btn-icon-left ui-corner-all">
                    Log Out
                </a>
            }
            else
            {
                <a href="@Url.Action("Logout", "Home")" class="ui-btn ui-icon-power ui-btn-icon-left ui-corner-all"> Log Out</a>
            }
            <div data-role="collapsible" class="deleteUser" data-collapsed-icon="delete">
                <h1>Delete Account</h1>
                @using (@Html.BeginForm("DeleteUser", "Home"))
                {
                    @Html.HiddenFor(x => x.memberId)

                    <a href="#" id="deleteButton" data-role="button" data-inline="true" onclick="$(this).closest('form').submit(); return fb_logout();">Confirm</a>
                }
            </div>
        </div> <!--end Control Group-->
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('.profileBar').addClass('ui-btn-active')
                        .addClass('ui-state-persist');
        })
    </script>
}