@model FocusAppTest2.ServiceReference1.Profile
@{
    ViewBag.Title = "ProfileMenu";
}

<div data-role="controlgroup">
    <a href="@Url.Action("Profile","Main")" class="ui-btn ui-icon-user ui-btn-icon-left ui-corner-all">Change/View Profile</a>
    @if (User.IsInRole("facebookmember"))
    {
        <a href="#" onclick="fb_logout();" class="ui-btn ui-icon-lock ui-btn-icon-left ui-corner-all">Logout</a>
    }
    else
    {
        <a href="@Url.Action("Logout", "Home")" class="ui-btn ui-icon-lock ui-btn-icon-left ui-corner-all">Logout</a>
    }
    @using (@Html.BeginForm("DeleteUser", "Home"))
    {
        @Html.HiddenFor(x => x.memberId)
        <a href="#" onclick="$(this).closest('form').submit(); return fb_logout();" class="ui-btn ui-icon-delete ui-btn-icon-left ui-corner-all">Delete user</a>
        
    }
</div>