@{
    ViewBag.Title = "ProfileMenu";
}

<div data-role="controlgroup">
    <a href="@Url.Action("Profile","Main")" class="ui-btn ui-icon-user ui-btn-icon-left ui-corner-all">Change/View Profile</a>
    <a href="@Url.Action("Logout","Home")" class="ui-btn ui-icon-power ui-btn-icon-left ui-corner-all">Sign out</a>
    <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-left ui-corner-all">Delete Account</a>
</div>