@{
    ViewBag.Title = "Profile";
}

<section data-role="page">
    <div data-role="header" data-position="fixed">
    </div>
    <div class="ui-content">

    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Course","Main")">Course</a></li>
                <li><a href="@Url.Action("Profile","Main")" class="ui-state-persist ui-btn-active">Profile</a></li>
                <li><a href="@Url.Action("Contact","Main")">Contact</a></li>
            </ul>
        </div>
    </div>
</section>
