<div id="headers" data-role="header" data-position="fixed">
    <h1>@ViewBag.Title</h1>
    <div class="pull-right">
        @if (!User.IsInRole("facebookmember"))
        {
            <a href="@Url.Action("Logout", "Home")" class="btn btn-sm">Logout</a>
        }
    </div>
</div>