@{
    ViewBag.Title = "Error";
}

<div class="errorPage">
    <h2>500 - Internal server error</h2>
    <p>
        Oops! We had an error or the server might be temporarily down.
        Try one of the menu links or go to the default <a href="@Url.Action("Courses","Main")">page</a>!
    </p>
</div>