@{
    ViewBag.Title = "Error";
}

<div class="errorPage">
    <h2>500 - Intern serverfeil</h2>
    <p>
        Oops! Vi har hatt en systemfeil eller siden kan være midlertidig nede.
        Du kan prøve å navigere deg til en annen side i menyen, gå til <a href="@Url.Action("Courses","Main")">hovedsiden</a>,
        eller du kan prøve å <a href="@Url.Action("Home","Logout")">logge deg ut</a>!
    </p>
</div>