@{
    ViewBag.Title = "Not Found(404)";
}
<div class="errorPage">
    <h2>404 - Not Found</h2>
    <p>This page does not exist. Try one of the menu links or go to the default <a href="@Url.Action("Courses","Main")">page</a>!</p>
</div>