@{
    ViewBag.Title = "Not Found(404)";
}
<div class="errorPage">
    <h2>404 - Siden ble ikke funnet</h2>
    <p>Denne siden ble ikke funnet, du kan prøve menyen eller å gå til <a href="@Url.Action("Category","Main")">hovedsiden</a>!</p>
</div>