body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/*.thePage img{
    position: relative;
    max-width:400px;
}*/

header, footer, nav, section {
    display: block;
}

/* Custom Styles for page
-----------------------------------------------------------*/
.ui-mobile-viewport { /*Bottom of the page*/
    background-color: beige;
}

.ui-page {
    background-image: url('images/background.jpg');
}

.ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    /*border: none;
    background: beige;*/
}

.inputProfile {
    max-width: 10em;
    float: left;
}

.editProfile {
    margin: auto;
}

.collapsible-myCourses .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background: #B8E6B8;
}

.confirm.ui-btn {
    background-color: black;
}

.confirm.ui-btn {
    background-color: black;
}


.deleteUser .ui-collapsible-heading-toggle {
    text-align: center;
}

.ui-footer {
    border: none;
}

.footerbar {
    background-color: beige;
}

a.footerlink.ui-btn.ui-btn-icon-top {
    border: none;
    /*border-radius: 20px;*/
    background-color: #5CA29D;
    color: white;
    font-family: Corbel;
    font-stretch: wider;
}

a.footerlink.ui-btn-active.ui-state-persist {
    background-color: black;
}

label {
    color: white;
}

b {
    color: black;
    font-family: 'Century Gothic';
    font-size: 1em;
}

.boldText{
    padding-top:10px;
    max-width:100px;
    margin: 0 auto;
    display:block;

}

.row {
    margin-top: 5px;
}

@media screen and (max-width: 765px) {

    .logo {
        margin: 0 auto;
        width: 100%;
        min-width: 150px;
        max-width: 250px;
    }

    .loginForm {
        margin: 0 auto;
        max-width: 30em;
    }

    .category {
        width: 100%;
        min-width: 50px;
        max-width: 150px;
    }

    .profileCategory {
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 300px;
    }

    .profileFootbar {
        width: 100%;
        position: absolute;
        bottom: 55px;
    }

    .slideElement {
        margin-top: 1em;
    }

    #container {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .loginButtons {
        max-width: 30em;
    }

    .myCourses {
        background: #98bf21;
        height: 100px;
        width: 50px;
        margin-top: 6em;
    }

    .toppForm {
        margin-top: 3em;
    }

    .glyphicon {
        font-size: 2em;   
    }
    .mainProfile{
        font-size:9em;
        max-width:130px;
        margin: 0 auto;
        display:block;
    }

    .fadeElement{
        border-bottom-style:solid;
        border-radius:3em;
    }

}

@media screen and (min-width: 766px) {
    .logo {
        margin: 0 auto;
        width: 100%;
        min-width: 100px;
        max-width: 300px;
    }

    .loginForm {
        margin: 0 auto;
        max-width: 27em;
    }

    .loginButtons {
        max-width: 30em;
    }

    #container {
        margin-top: 3em;
    }

    .category {
        margin-top: 6em;
        min-width: 150px;
        max-width: 200px;
    }

    .profileCategory {
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 500px;
    }

    .profileFootbar {
        width: 100%;
        position: absolute;
        bottom: 55px;
    }

    .slideElement {
        margin-top: 1em;
    }

    .glyphicon {
        font-size: 3em;
    }

    .mainProfile{
        font-size:10em;
        max-width:130px;
        margin: 0 auto;
        display:block;
    }

    .ui-input-text {
        min-width: 27em;
    }
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
