body {
    font-size: .85em;
    font-family: 'Century Gothic';
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Custom Styles for page
-----------------------------------------------------------*/
.ui-mobile { /*Bottom of the page*/
    /*background-color: lightyellow;*/
}

.ui-page {
    /*background-image: url('images/background.jpg');*/
    background-color: #FFB591;
}

.ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    /*border: none;
    background: beige;*/
}

.inputProfile {
    max-width: 10em;
    float: left;
}

.editProfile {
    margin: auto;
}

.collapsible-myCourses .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background: #B8E6B8;
}

#deleteButton{
    width:70%;
    margin:0 auto;
    display:block;
    background-color:chocolate;
}

.post-bid{
    margin:0 auto;
    display:block;
    background-color:lightgreen;
}

.ui-page-theme-a .confirm {
    position: absolute;
    right: 21px;
    z-index: 9;
    margin-top: 11px;
}

    .ui-page-theme-a .confirm::after {
        transition: background-color .25s, transform 1s;
        -webkit-transition: background-color .25s, -webkit-transform 1s;
    }

    .ui-page-theme-a .confirm.active::after {
        background-color: black !important;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    .ui-page-theme-a .confirm.ui-icon-check::after {
        background-color: lightgreen !important;
    }


.deleteUser .ui-collapsible-heading-toggle {
    text-align: center;
}

.ui-footer {
    border: none;
}

.footerbar {
    background-color: beige;
}

a.footerlink.ui-btn.ui-btn-icon-top {
    border: none;
    background-color: #5CA29D;
    color: white;
    font-family: Corbel;
    font-stretch: wider;
}

a.footerlink.ui-btn-active.ui-state-persist {
    background-color: black;
}

label {
    color: white;
}

b {
    color: black;
    font-family: 'Century Gothic';
    font-size: 1em;
}

.mainProfile {
    font-size: 5em;
    width: 100%;
    text-align: center;
}

.boldText {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.row {
    margin-top: -5px;
}

.ui-controlgroup {
    width: 80%;
    margin: 5em auto;
    max-width: 300px;
}

a.arrowButton {
    text-decoration: none;
}

.theFieldsset {
    overflow: hidden !important;
}

    .theFieldsset .form-group {
        margin-bottom: 6px;
        position: relative;
        margin-left:0;
    }

        .theFieldsset .form-group:last-child {
            margin-bottom: 0;
        }

@media screen and (max-width: 765px) {

    .logo {
        margin: 0 auto;
        width: 100%;
        min-width: 150px;
        max-width: 250px;
    }

    .loginForm {
        margin: 0 auto;
        max-width: 30em;
    }

    .category {
        width: 100%;
        min-width: 50px;
        max-width: 150px;
    }

    .profileFootbar {
        width: 100%;
        position: absolute;
        bottom: 55px;
    }

    .slideElement {
        margin-top: 15px;
        margin: 0 auto;
        max-width:400px;
    }

    #container {
        margin-top: 5px;
        margin-bottom: 1em;
    }

    .loginButtons {
        max-width: 30em;
    }

    .myCourses {
        background: #98bf21;
        height: 100px;
        width: 50px;
        margin-top: 6em;
    }

    .toppForm {
        margin-top: 3em;
    }

    .footerbar .glyphicon {
        font-size: 2em;
    }


    .editIcon {
        font-size: 4em;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 766px) {
    .logo {
        margin: 0 auto;
        width: 100%;
        min-width: 100px;
        max-width: 300px;
    }

    .loginForm {
        margin: 0 auto;
        max-width: 27em;
    }

    .loginButtons {
        max-width: 30em;
    }

    #container {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    .category {
        margin-top: 6em;
        min-width: 150px;
        max-width: 180px;
    }

    .profileFootbar {
        width: 100%;
        position: absolute;
        bottom: 55px;
    }

    .slideElement {
        margin-top: 15px;
        max-width: 400px;
        margin: 0 auto !important;
    }

    .footerbar .glyphicon {
        font-size: 1.5em;
        padding-top: 5px;
    }

    .editIcon {
        font-size: 4em;
        width: 100%;
        text-align: center;
    }

    .ui-input-text {
        min-width: 27em;
    }

    .confirm {
        margin-left: 2em;
    }
    .ui-collapsible-set{
        width:70%;
        margin:0 auto;
    }
    .ui-input-search{
        width:70%;
        margin:0 auto;
    }
    .collapsible-myCourses{
        width:70%;
        margin:0 auto;
    }
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
